[Unit]
Description=Better Fan Controller

[Service]
Type=simple
WorkingDirectory=/tmp/
ExecStart=/usr/bin/BetterFanController
Restart=always
RestartSec=1
User=root
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
